<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.js"></script>
    <style type="text/css">
      <%- css %>
    </style>

  </head>
  <body>
    <%- html %>

  </body>
</html>